# Ignore node_modules directory
node_modules/

# Ignore built output directory
dist/

# Ignore environment variables file
.env

# Ignore editor specific files and directories
.vscode/

# Ignore macOS specific files
.DS_Store

yarn-error.log

